In [1]:
# Import statements
import pandas as pd
import numpy as np 
import csv 
import json
import re

In [33]:
'''
Loads the dataframe from Query 1 and Query 2 and merges + drops duplicates and NaNs
    @param: csv1: path to CSV 1 (formed by Query 1)
    @param: csv2: path to CSV 2 (formed by Query 2)
    @return: df1: a merged dataframe of csv1 and csv2
'''
def loadBacktestData(csv1, csv2):
    df1 = pd.read_csv(csv1)
    df2 = pd.read_csv(csv2)
    df1 = df1.append(df2)
    df1_ = df1.drop_duplicates(subset=['Organization Name'])
    df1 = df1_[df1_.Founders.notna()]
    df1 = df1[df1.LinkedIn.notna()]
    df1 = df1.reset_index()
    for i in range(len(df1)):
        if df1.iloc[i].LinkedIn.count('about') > 0:
            df1['LinkedIn'][i] = df1['LinkedIn'][i].split('about')[0]
    df1 = df1.set_index('Organization Name')
    df1 = df1.drop('index', 1)
    df1['Organization Name'] = df1.index
    df1_ = df1_.set_index('Organization Name')
    return df1, df1_

# Loads and combines both CSVs into df1 dataframe
df1, df1_ = loadBacktestData('backtest1.csv', 'backtest2.csv')

/Users/mymacbook/.local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [3]:
'''
Method to save the company data as a txt file (loadable as JSON)
    @param: data: company_data dictionary of Company objects
    @return: None
'''
def saveData(data, fileName):
    data_json = json.dumps(data, default=lambda x: x.__dict__)
    with open(fileName, 'w') as outfile:
        json.dump(data_json, outfile)

'''
Method to load company data into a dictionary (same structure as Company object)
    @param: dataFile: string path to saved txt file
    @return: dataDict: a dictionary with the same structure as a Company object
'''
def loadData(dataFile):
    with open(dataFile) as json_file:
        data = json.load(json_file)
    dataDict = json.loads(data)
    return dataDict

In [4]:
alldata = loadData('alldata_final.txt')

In [5]:
'''
Structure of Company Dictionary Entry:
    @name - string for the company's name
    @description - string for a company description
    @founders - list of founder dictionaries (single founders)
        Structure of Founder Dictionary Entry
            @name - string for the founder's name
            @connections - string for the founder's # of connections
            @location - string for the founder's location 
            @education - list of education dictionaries (single education experiences)
                Structure of Education Dictionary Entry
                    @school - string for the school name
                    @degree - string for the degree objective (i.e. BS / BA)
                    @field - string for the field studied (i.e. Computer Science)
            @experience - list of experience dictionaries (single experiences)
                Structure of Experience Dictionary Entry
                    @companyName - string for the company's name
                    @title - string for the position held at the company
                    @dates - string for the dates worked at the company (i.e. May 2000 - Jun 2000)
    @industries - list of strings with the industries the company is involved in 
    @website - string for the company's website
    @lastStage - string for the last stage of funding received (i.e. Series A)
    @linkedin - string for the URL of the company's LI profile
    @location - string for the company's HQ location
'''
pass

In [90]:
'''
Data Validation: Industries
'''     
drop_industries = {}
for name_ in df1_.index:
    for ind_ in [i.strip() for i in df1_.loc[name_]['Industries'].split(',')]:
        if ind_ not in drop_industries:
            drop_industries[ind_] = 1
        else:
            drop_industries[ind_] += 1
drop_industries = {k: v for k, v in sorted(drop_industries.items(), key=lambda item: item[1], reverse=True)} 
df_dropIndustries = pd.DataFrame.from_dict(drop_industries, orient='index', columns=['freq']).reset_index()

kept_industries = {}
for name_ in alldata.keys():
    for ind_ in [i.strip() for i in df1.loc[name_]['Industries'].split(',')]:
        if ind_ not in kept_industries:
            kept_industries[ind_] = 1
        else:
            kept_industries[ind_] += 1
kept_industries = {k: v for k, v in sorted(kept_industries.items(), key=lambda item: item[1], reverse=True)}

# Brings it into a dataframe
df_keptIndustries = pd.DataFrame.from_dict(kept_industries, orient='index', columns=['freq']).reset_index()
df_industries = pd.merge(df_dropIndustries, df_keptIndustries, on='index')
df_industries.columns = ['name', 'dropped', 'kept']
df_industries['dropped'] /= df_industries['dropped'].sum()
df_industries['kept'] /= df_industries['kept'].sum()
df_industries.set_index(['name'])
df_industries.head(10)

                      name   dropped      kept
0                 Software  0.199771  0.192458
1   Information Technology  0.061318  0.060335
2                     SaaS  0.056963  0.059916
3  Artificial Intelligence  0.036103  0.036732
4         Machine Learning  0.027278  0.028212
5      Enterprise Software  0.025559  0.026536
6                 Internet  0.025215  0.023603
7                Analytics  0.014212  0.014944
8                  FinTech  0.013868  0.014525
9                 Computer  0.013524  0.013268

In [108]:
'''
Loads top schools data
'''
topSchools = pd.read_csv('topSchools.csv', index_col="Score_Rank")
topSchools = topSchools[['University', 'General_name']].head(100)

In [109]:
'''
Pedigree
    1. Do the majority of successful founders attend a top university?
'''
topcount = 0 ; schoolDict = {} ; founderCount = 0 ; schoolFound = False
for key in alldata.keys():
    if alldata[key]['founders']:
        for founder in alldata[key]['founders']:
            if founder['education']:
                founderCount += 1 ; schoolFound = False
                for educ_ in founder['education']:
                    school_ = educ_['school'].lower()
                    if school_ not in schoolDict:
                        schoolDict[school_] = 1
                    else:
                        schoolDict[school_] += 1
                    if not schoolFound:
                        for topSchool_ in topSchools['University']:
                            if school_ in topSchool_.lower():
                                topcount += 1
                                schoolFound = True
                                break
                    if not schoolFound:
                        for topSchool_ in topSchools['General_name']:
                            if topSchool_ in school_.lower():
                                topcount += 1
                                schoolFound = True
                                break
schoolDict = {k: v for k, v in sorted(schoolDict.items(), key=lambda item: item[1], reverse=True)}                   
print("{} % of founders attended a Top 100 School at some point in their education".format(str(topcount / founderCount * 100)))

45.68510038746037 % of founders attended a Top 100 School at some point in their education

In [112]:
df_school = pd.DataFrame.from_dict(schoolDict, orient='index', columns=['freq']).reset_index()
# df_fields['freq'] /= df_fields['freq'].sum()

In [141]:
'''
Pedigree
    2. Do the majority of successful founders attend graduate school?
'''
degreeDict = {} ; degreeCount = 0 ; gradCount = 0
for key in alldata.keys():
    if alldata[key]['founders']:
        for founder in alldata[key]['founders']:
            if founder['education']:
                checkDegree = True
                for educ_ in founder['education']:
                    if educ_['degree']:
                        deg_ = educ_['degree'].lower()
                        if checkDegree:
                            degreeCount += 1
                            checkDegree = False
                        if deg_ not in degreeDict:
                            degreeDict[deg_] = 1
                        else:
                            degreeDict[deg_] += 1
degreeDict = {k: v for k, v in sorted(degreeDict.items(), key=lambda item: item[1], reverse=True)}  
for key in degreeDict.keys():
    if key in ['mba', 'ms', 'msc', 'ph.d', 'phd', 'ma', 'jd', 'ph.d', 'md', 'mse', 'meng'] or 'master' in key or 'm.' in key or 'doctor' in key:
        gradCount += 1
print("{} percent of founders have postgraduate education".format(str(gradCount / degreeCount * 100)))

10.916179337231968 percent of founders have postgraduate education

In [98]:
df_fields = pd.DataFrame.from_dict(fieldDict, orient='index', columns=['freq']).reset_index()
# df_fields['freq'] /= df_fields['freq'].sum()
df_fields.head(10)

                                             index  freq
0                                 computer science   526
1                                        economics   116
2                           mechanical engineering    85
3                           electrical engineering    78
4                             computer engineering    71
5                                          finance    63
6                                          physics    52
7  business administration and management, general    48
8                                      mathematics    44
9                                        marketing    43

In [91]:
'''
Pedigree
    3. Do successful founders study certain fields over others?
'''
fieldDict = {}
for key in alldata.keys():
    if alldata[key]['founders']:
        for founder in alldata[key]['founders']:
            if founder['education']:
                for educ_ in founder['education']:
                    if educ_['field']:
                        field = educ_['field'].lower()
                        if field not in fieldDict:
                            fieldDict[field] = 1
                        else:
                            fieldDict[field] += 1
fieldDict = {k: v for k, v in sorted(fieldDict.items(), key=lambda item: item[1], reverse=True)}

In [ ]:
'''
Employment Background
    1. Do most founders have experience at startups (CEO, CFO, CTO, COO, Founder)
'''

In [ ]:
'''
Employment Background
    2. Do founders have a lot of LinkedIn Connections
'''

In [101]:
'''
Employment Background
    3. Do founders come from certain job positions prior to starting their company? 
        - are they prior founders?
        - are they prior software engineers
'''
posDict = {}
for key in alldata.keys():
    if alldata[key]['founders']:
        for founder in alldata[key]['founders']:
            if founder['experience']:
                for exp_ in founder['experience']:
                    if exp_['title']:
                        pos = exp_['title'].lower()
                        if pos not in posDict:
                            posDict[pos] = 1
                        else:
                            posDict[pos] += 1
posDict = {k: v for k, v in sorted(posDict.items(), key=lambda item: item[1], reverse=True)}

In [104]:
df_pos = pd.DataFrame.from_dict(posDict, orient='index', columns=['freq']).reset_index()
# df_fields['freq'] /= df_fields['freq'].sum()
df_pos.head(20)

                       index  freq
0                 co-founder   524
1                    founder   342
2                        ceo   320
3              founder & ceo   226
4          software engineer   196
5           co-founder & ceo   188
6               board member   181
7                        cto   153
8                    advisor   115
9           co-founder & cto   112
10   chief executive officer    91
11                consultant    87
12        co-founder and ceo    86
13           founder and ceo    80
14          ceo & co-founder    75
15                  investor    73
16  senior software engineer    67
17                    mentor    67
18                 president    67
19                   partner    65

In [ ]:
'''
Employment Background
    4. Do founders come from certain companies (or industries)
'''

In [ ]:
'''
Company Fundamentals 
    1. How important is the number of employees in the company?
'''

In [ ]:
'''
Company Fundamentals
    2. Are there keywords in a company's description?
'''

In [ ]:
'''
Company Fundamentals
    3. Number of founders / company location?
'''

In [ ]:
''' Saves the extracted data to a CSV'''

df_schools = pd.DataFrame.from_dict(schools, orient='index', columns=['freq'])
df_schools.sort_values(['freq'], ascending=False).to_csv('schools.csv')

df_fields = pd.DataFrame.from_dict(fields, orient='index', columns=['freq'])
df_fields.sort_values(['freq'], ascending=False).to_csv('fields.csv')

df_compnames = pd.DataFrame.from_dict(companynames, orient='index', columns=['freq'])
df_compnames.sort_values(['freq'], ascending=False).to_csv('companynames.csv')

df_titles = pd.DataFrame.from_dict(jobtitle, orient='index', columns=['freq'])
df_titles.sort_values(['freq'], ascending=False).to_csv('titles.csv')